.main {
  padding: 2rem;
  background-color: aliceblue;
}
.main__table {
  overflow-x: auto;
}
.main__table__error {
  color: red;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  min-width: 10rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
